@import "../../constants.module.scss";

.rating-counter {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font;
}

.rating-counter__control {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.rating-counter__counter {
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.rating-counter__star {
    margin-right: 8px;
    height: 16px;
}

.rating-counter__label {
    line-height: 24px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--textVideoViewPage);
}
