@import "src/constants.scss";

.wrapper-user_page {
  display: flex;
  justify-content: center;
}

.user-page {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 680px;
  width: 100%;
  margin: 16px 46px;
}

.title-user-page {
  display: flex;
  width: 100%;
  margin: 0 0 24px 0;
  font-family: $font;
  color: $black;
  font-weight: 600;
  line-height: 130%;
}

.avatar-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.avatar-user-page {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  display: flex;
  flex: none;
  justify-content: center;
}

.user-avatar {
  border-radius: 50px;
  width: 100%;
}

.upload-field {
  position: absolute;
  bottom: 0;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #455FCE;
}

.inform-avatar {
  max-width: 530px;
  font-family: $font;
  color: #757575;
  font-feature-settings: 'liga' off;
  font-size: 12px;
  line-height: 150%;
  margin-left: 24px;
  text-align: left;
}

.user-page-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name-user-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-user-page {
  font-family: $font;
  color: $black;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.user-page-data {
  font-family: $font;
  color: $black;
  margin: 14px 0 10px 0;
}

.line-user-page {
  color: $greyDefault;
  size: 1px;
  width: 100%;
  margin: 20px 0;
}

.wrapper-form-user-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-user-page {
  position: relative;
  width: 469px;
  background: $white;
  border-radius: 8px;
  padding: 48px;
  box-sizing: border-box;
  margin: 22px;
}

.close-modal-form {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 20px;
  top: 0;
  right: 0;
}

.close-form {
  position: relative;
  top: 9px;
  left: -9px;
  width: 16px;
  z-index: 3;
}

.close-form:before,
.close-form:after {
  position: absolute;
  width: 16px;
  border: 2px solid $greySearchColor;
  background: $greySearchColor;
  content: "";
}

.close-form:before {
  transform: rotate(45deg);
}

.close-form:after {
  transform: rotate(-45deg);
}

.form-title-user-page {
  margin: 0 0 25px 0;
  font-family: $font;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #1B1B1F;
}
.inVisible{
  display: none;
}
@media (max-width: $max-width-phone) {
  .close-modal-form {
    margin: 8px;
  }
}

@media (max-width: $max-width-phone) {
  .user-page {
    margin: 16px;
  }

  .avatar-field {
    flex-direction: column;
  }

  .avatar-user-page {
    margin-bottom: 30px;
  }

  .inform-avatar {
    text-align: center;
    margin: 0;
  }
}