@import "./src/constants.scss";

.side-bar {
  grid-column-start: 2;
  position: relative;
  align-items: center;
  height: 64px;
  background: $white;
}

.header {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.logo-name {
  margin-left: 27px;
  display: flex;
  min-width: 230px;
  flex-wrap: wrap;
  align-content: center;
  text-decoration: none;
}

.title-header {
  display: inline-block;
  margin: 0 0 0 5px;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.avatar {
  width: 32px;
  height: 32px;
  border: 2px solid $blueLightColor;
  border-radius: 50%;
}

.first-letters {
  margin: 0;
  color: $blueLightColor;
  font-weight: bold;
  line-height: 32px;
}

//@media (max-width: 1024px) {
//  .title-header,
//  .section-button {
//    display: none;
//  }
//
//  .header {
//    grid-template-columns: repeat(6, 1fr);
//  }
//
//  .logo-name {
//    min-width: 170px;
//  }
//}

@media (max-width: 650px) {
  .header {
    display: grid;
    grid-template-columns: 122px 1fr 80px;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .logo-name {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 0;
  }
}
