@import "./src/constants.scss";

.side-bar {
  grid-column-start: 2;
  position: fixed;
  margin-left: 76px;
  left: 0;
  right: 0;
  height: 64px;
  background: var(--bgThemeNavBarColor);
  z-index: 91;
}

.header {
  grid-column-start: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.logo {
  width: 24px;
  height: 30px;
}

.logo-name {
  color: var(--textLogo);
  display: flex;
  min-width: 230px;
  flex-wrap: wrap;
  align-content: center;
  text-decoration: none;
  margin-left: 27px;
  position: relative;
  z-index: 100;
}

.title-header {
  margin: 0 0 0 5px;
  display: flex;
  align-items: center;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.avatar {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.user-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.first-letters {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid $blueLightColor;
  border-radius: inherit;
  margin: 0;
  color: $blueLightColor;
  font-weight: bold;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-li {
  padding: 8px 16px;
  height: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: var(--bgTextHoverDropDownMainPage);
  }
}

.user-link {
  text-decoration: none;
  color: var(--textDropDownMainPage);
}

.log-out {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--textDropDownMainPage);
}

#input-avatar:checked ~ .list-user {
  display: block;
  background-color: var(--bgDropDownMainPage);
}

.language {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.globe {
  padding: 2px;
  margin-right: 8px;
}

.lang {
  display: flex;
}

.lang-registration {
  align-items: center;
  color: var(--textDropDownMainPage);
}

.list {
  position: absolute;
  background: $white;
  box-shadow: 0px 18px 80px rgba(39, 53, 141, 0.07),
    0px 6.5703px 29.2013px rgba(39, 53, 141, 0.0292778),
    0px 3.18976px 14.1767px rgba(39, 53, 141, 0.021578),
    0px 1.56368px 6.94968px rgba(39, 53, 141, 0.0184521),
    0px 0.618281px 2.74791px rgba(39, 53, 141, 0.0153621);
  font-family: $font;
  color: $black;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-language {
  display: none;
  width: 210px;
  left: -16px;
  top: 30px;
  background-color: var(--bgDropDownMainPage);
  color: var(--textDropDownMainPage);
}

.no-registration-list {
  display: none;
  width: 140px;
  bottom: -70px;
  right: 0;
  background-color: var(--bgDropDownMainPage);
  color: var(--textDropDownMainPage);
}

.list-user {
  display: none;
  width: 210px;
  margin: 50px 24px 0 0;
  top: 0;
  right: 0;
  z-index: 3;
}

.lang-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;

  &:hover {
    background: var(--bgTextHoverDropDownMainPage);
  }
}

.check-language {
  width: 12px;
  height: 8px;
}

#input-language:checked ~ .list-language {
  display: block;
}

#input-language:checked ~ .no-registration-list {
  display: block;
}

.input-lang {
  display: none;
}

.wrapper-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 6px;
}
