@import "./src/constants.module.scss";

.language {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  // cursor: pointer;
}

.lang {
  display: flex;
  cursor: pointer;
}

.lang-registration {
  align-items: center;
  width: 100%;
  color: var(--textDropDownMainPage);
  cursor: pointer;
}

.globe {
  padding: 2px;
  margin-right: 8px;
}

.wrapper-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 24px;
  margin-left: 6px;
}

.arrow-language {
}

.input-lang {
  display: none;
}

.list {
  position: absolute;
  margin: 0;
  padding: 0;
  background: $white;
  color: $black;
  box-shadow: 0px 18px 80px rgba(39, 53, 141, 0.07),
  0px 6.5703px 29.2013px rgba(39, 53, 141, 0.0292778),
  0px 3.18976px 14.1767px rgba(39, 53, 141, 0.021578),
  0px 1.56368px 6.94968px rgba(39, 53, 141, 0.0184521),
  0px 0.618281px 2.74791px rgba(39, 53, 141, 0.0153621);
  font-family: $font;
  font-weight: 400;
  font-size: 14px;

  list-style-type: none;
}

.list-language {
  display: none;
  width: 210px;
  left: -16px;
  top: 30px;
  background-color: var(--bgDropDownMainPage);
  color: var(--textDropDownMainPage);
}

#input-language:checked ~ .list-language {
  display: block;
}

#input-language:checked ~ .no-registration-list {
  display: block;
}

.no-registration-list {
  display: none;
  width: 140px;
  bottom: -70px;
  right: 0;
  background-color: var(--bgDropDownMainPage);
  color: var(--textDropDownMainPage);
}

.lang-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;

  &:hover {
    background: var(--bgTextHoverDropDownMainPage);
  }
}

.check-language {
  width: 12px;
  height: 8px;
}