@import "./src/constants.module.scss";

.mystudio__nolessons {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.mystudio__nolessons-picture {
  margin-bottom: 24px;
}

.mystudio__nolessons-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 547px;
  font-family: $font;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--textNoLesson);
  letter-spacing: 1px;
  word-spacing: 5px;
  margin: 0 0 24px 0;
}
