@import "../../../../../constants.module";

.select {
  width: 100%;
}

.react-select__control {
  background-color: var(--bgFirstRegistrForm) !important;
  transition: background-color 0.5s ease;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid var(--iconsTextThemeNavBarColor);
  border-radius: 8px;
  margin-top: 4px;
  text-align: left;
  @include fieldsFont;

  &:default {
    border: 1px solid var(--textCalendarOutsideMonth);

    &::placeholder {
      color: var(--textCalendarOutsideMonth);
    }
  }

  &:disabled {
    border: 1px solid var(--iconsTextThemeNavBarColor);

    &::placeholder {
      color: var(--iconsTextThemeNavBarColor);
    }
  }

  &:active {
    outline: none;
    border: 1px solid var(--iconsTextButtonColor);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--iconsTextButtonColor);
  }

  &:hover {
    outline: none;
    border: 1px solid var(--bgFocusButtonColor);
  }

  &::placeholder {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--themeNavBarBgHover);
  }
}

div > .react-select__single-value {
  color: var(--textCategoriesAdmin);
  z-index: 5;
}

div > .react-select__menu {
  text-align: left;
  box-shadow: var(--themeButtonHover);
  background: var(--bgFirstRegistrForm);
  
}

div > .react-select__option--is-focused {
  color: var(--textCalendarDayHover);
  background: var(--iconsTextThemeNavBarColor);
}

.react-select__indicator-separator {
  display: none;
}

div > .react-select__option--is-selected {
  background-color: var(--textPhoneNumberCountryListHover);
  color: var(--textThemeColor1);
}

div > .react-select__indicator {
  display: none;
}

.arrow-category {
  position: absolute;
  bottom: 7px;
  right: 0;
  padding: 9px;
  z-index: 3;
  cursor: pointer;
}