.main {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--bgThemeColor1);
}
