.wrapper__lessons {
  width: 1376px;
  margin: auto;
}

.lessons {
  width: 1216px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
