.wrapper__lessons {
  width: 100%;
  max-width: 1376px;
  height: 100%;
  margin-left: 150px;
}

.lessons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}