@import "../../../../../constants.scss";

.add-category {
  font-family: $font;
  position: relative;
  display: flex;
  justify-content: center;
}

.arrow-back {
  margin-right: 19px;
  color: $greySearchColor;
}

.button-back {
  position: absolute;
  margin: 16px 24px;
  left: 0;
  top: 0;
  text-decoration: none;
  cursor: pointer;
  color: $greySearchColor;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.form-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 656px;
  width: 100%;
  margin: 0 40px;
  background: $white;
  padding: 32px 48px 48px;
  box-shadow: 0px 0px 4px $greySearchColor;
}

.add-title {
  color: $black;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 32px;
  margin-top: 0;
}

.category-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
}

.button-cancel {
  margin-right: 6px;
}

.category-label {
  font-family: $font;
  color: $black;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 32px;
}

.category-textarea {
  height: 212px;
}

.category-input {
  margin-top: 4px;
  padding: 10px 12px;
  width: 100%;
  border: 1px solid $greySearchColor;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: $font;
  color: $black;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  &:active {
    outline: none;
    border: 1px solid $blueLightColor;
  }

  &:focus {
    outline: none;
    border: 1px solid $blueLightColor;
  }

  &:hover {
    outline: none;
    border: 1px solid $black;
  }

  &::placeholder {
    font-family: $font;
    color: $greySearchColor;
  }
}

.message {
  position: absolute;
  bottom: -22px;
  text-align: left;
  display: block;
  margin-top: 0.5em;
  font-family: $font;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.invisible {
  display: none
}

.invalid-input {
  border: 1px solid $warningColor;
  color: $warningColor;
}

.amount-symbols {
  position: absolute;
  bottom: 7px;
  right: 14px;
  font-family: 'ApercuPro';
  color: #9A9AA3;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

.error {
  color: $warningColor;
}

.wrapper-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cansel-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: $white;
  max-width: 379px;
  width: 100%;
  box-shadow: 0 0 4px $greySearchColor;
}

.field-close {
  width: 24px;
  height: 24px;
  margin-left: auto;
  position: relative;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.close-modal {
  position: relative;
  top: 9px;
  left: -9px;
  width: 16px;
  z-index: 3;
}

.close-modal:before,
.close-modal:after {
  position: absolute;
  width: 10px;
  border: 1px solid #9A9AA3;
  background: #9A9AA3;
  content: "";
}

.close-modal:before {
  transform: rotate(45deg);
}

.close-modal:after {
  transform: rotate(-45deg);
}

.close-text {
  margin: 40px 48px 24px 48px;
  color: #1B1B1F;
  font-family: 'ApercuPro';
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.field-button {
  display: flex;
  margin-bottom: 32px;
}

.field-modal {
  background: $white;
  max-width: 280px;
  width: 100%;
  box-shadow: 0 0 4px $greySearchColor;
}

.field-successful {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  text-align: left;
  font-family: 'ApercuPro';
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.successful-icon {
  margin-right: 17px;
}

.field-close-successful {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  text-align: end;
}