@import "../../../../../constants.module.scss";

.wrapper__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--bgModalShadow);
}

.modal {
  max-width: 280px;
  width: 100%;
  background: $white;
  box-shadow: 0 0 4px $greySearchColor;
  border-radius: 8px;
}

.modal__successful {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  text-align: left;
  font-family: "ApercuPro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $black;
}

.modal__icon {
  margin-right: 17px;
}

.cross {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  text-align: end;
}

.cross__element {
  position: relative;
  top: 9px;
  left: -9px;
  width: 16px;
  z-index: 3;
}

.cross__element:before,
.cross__element:after {
  position: absolute;
  width: 10px;
  border: 1px solid $greySearchColor;
  background: $greySearchColor;
  content: "";
}

.cross__element:before {
  transform: rotate(45deg);
}

.cross__element:after {
  transform: rotate(-45deg);
}