.player {
    width: 1343px;
    --plyr-captions-background: rgba(0, 0, 0, 0.8); /*The color for the background of captions.*/
    --plyr-captions-text-color: white; /* The color used for the captions text.*/
}
