.my-lessons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.my-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
