@import "./src/constants.module.scss";

.mystudiohead__head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
}

.mystudiohead__title {
	font-family: $font;
	font-weight: 700;
	font-size: 32px;
	line-height: 130%;
	color: #1B1B1F;
	margin: 0;
}

.mystudiohead__svg-add {
	width: 14px;
	height: 14px;
	margin-right: 8px;
}

.mystudiohead__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 40px;
}

.mystudiohead__lessons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	padding-top: 4px;
}

.mystudiohead__lessons-item {
	font-family: $font;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #5A5D72;
	margin-right: 40px;
	cursor: pointer;
}

.mystudiohead__lessons-item-active {
	color: #455FCE;
}

.mystudiohead__lessons-item-underline {
	height: 2px;
	background-color: #455FCE;
	width: 100%;
	
}

.mystudiohead__categories {
	display: flex;
	align-items: center;
}

.mystudiohead_select {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	min-width: 203px;
	padding: 8px 16px;
	background: var(--bgDropDownMainPage);
	box-shadow: 2px 0px 10px rgba(16, 19, 45, 0.05);
	border-radius: 4px;
	font-family: $font;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 122%;
	border: none;
	&:focus {
		outline: 0;
	}
}





