$darkMain: #1B1B1F;
$lightMain: #FFFFFF;;
$darkSideBar: linear-gradient(0deg, rgba(185, 195, 255, 0.05), rgba(185, 195, 255, 0.05)), #232429;
$lightSideBar: #FFFFFF;
$lightCardText: #F6F5F6;
$Surface5Dark: linear-gradient(0deg, rgba(185, 195, 255, 0.14), rgba(185, 195, 255, 0.14)), #333336;
$Surface5Light: linear-gradient(0deg, rgba(104, 160, 211, 0.14), rgba(104, 160, 211, 0.14)), #FEFBFF;
$bluePrimaryText:  #455FCE;
$black: #000;
$grey100: #fdfcfc;
$grey200: #f5f1f1;
$purple100: #7a0bc0;
$purple200: #650c9d;
$themes: ();
