// lessons page
$darkMain: #1b1b1f;
$lightMain: #ffffff;

$darkSideBar: linear-gradient(
    0deg,
    rgba(185, 195, 255, 0.05),
    rgba(185, 195, 255, 0.05)
  ),
  #232429;
$lightSideBar: #ffffff;
$lightCardText: #f6f5f6;
$Surface5Dark: linear-gradient(
    0deg,
    rgba(185, 195, 255, 0.14),
    rgba(185, 195, 255, 0.14)
  ),
  #333336;
$Surface5Light: linear-gradient(
    0deg,
    rgba(104, 160, 211, 0.14),
    rgba(104, 160, 211, 0.14)
  ),
  #fefbff;
$SideBarShadowLight: 1px 1px 20px rgba(46, 53, 119, 0.07);
$SideBarShadowDark: none;
$bluePrimaryText: #455fce;
// Registration Pages
$dark1: #1b1b1f;
$dark2: #45464f;
$dark3: #2a2c34;
$dark4: #45464f;
$dark5: #434659;
$dark6: #464752;
$dark7: #90909a;
$dark8: #9a9aa3;

$light1: #ffffff;
$light2: #f6f5f6;
$light3: #d1d1d1;
$light4: #eef3fe;
$light5: #e9eef9;

$blue1: #3161dc;
$black: #000;
$grey100: #fdfcfc;
$grey200: #f5f1f1;
$purple100: #7a0bc0;
$purple200: #650c9d;
$lightBorderRadius: 44px;
$darkBorderRadius: none;
$themes: ();
