@import "./colors";

$themes: (
  bgThemeColor1: (
    darkTheme: $darkMain,
    lightTheme: $lightMain, 
  ),
  textThemeColor1: (
    darkTheme: $grey100,
    lightTheme: $black,
  ),
  bgThemeNavBarColor: (
    darkTheme: $darkSideBar,
    lightTheme: $lightSideBar,
  ),
  bgNavBarShadow: (
    darkTheme: $SideBarShadowDark,
    lightTheme: $SideBarShadowLight,
  ),
  iconsTextThemeNavBarColor: (
    darkTheme: $dark7,
    lightTheme: $dark8,
  ),
  themeNavBarColorHover: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  themeNavBarBgHover: (
    darkTheme: $dark6,
    lightTheme: $light5,
  ),
  bgEditVideoLessonColor: (darkTheme: $dark3,
    lightTheme: $lightSideBar,
  ),
  editVideoLessonShadow: (darkTheme: $EditVideoLessonShadowDark,
    lightTheme: $EditVideoLessonShadowLight,
  ),
  iconsTextEditVideoLessonColor: (darkTheme: $light2,
    lightTheme: $dark1,
  ),
  bgButtonColor: (darkTheme: $darkSideBar,
    lightTheme: $lightSideBar,
  ),
  bgFocusButtonColor: (darkTheme: $light6,
    lightTheme: $dark9,
  ),
  shadowActiveButtonColor: (darkTheme: $ButtonActiveShadowDark,
    lightTheme: $ButtonActiveShadowLight,
  ),
  bgFocusButtonSecondaryColor: (darkTheme: $dark3,
    lightTheme: $light1,
  ),
  iconsTextButtonColor: (darkTheme: $light2,
    lightTheme: $blue2,
  ),
  iconsTextFocusButtonColor: (darkTheme: $dark1,
    lightTheme: $light1,
  ),
  iconsTextActiveButtonColor: (darkTheme: $blue3,
    lightTheme: $light1,
  ),
  iconsTextFocusButtonSecondaryColor: (darkTheme: $light7,
    lightTheme: $blue4,
  ),
  iconsTextActiveButtonSecondaryColor: (darkTheme: $light8,
    lightTheme: $dark10,
  ),
  borderFocusButtonSecondaryColor: (darkTheme: $light7,
    lightTheme: $blue4,
  ),
  borderActiveButtonSecondaryColor: (darkTheme: $light8,
    lightTheme: $dark10,
  ),
  themeButtonHover: (darkTheme: $ButtonHoverLight,
    lightTheme: $ButtonHoverDark,
  ),
  bgCardThemeColor: (
    darkTheme: $darkSideBar,
    lightTheme: $lightSideBar,
  ),
  titleCardThemeColor: (
    darkTheme: $lightCardText,
    lightTheme: $darkMain,
  ),
  categoryTextCardThemeColor: (
    darkTheme: $lightCardText,
    lightTheme: $bluePrimaryText,
  ),
  categorybgCardThemeColor: (
    darkTheme: $Surface5Dark,
    lightTheme: $Surface5Light,
  ),
  KebabCardThemeColor: (
    darkTheme: $lightMain,
    lightTheme: $darkMain,
  ),
  bgFirstRegistrForm: (
    darkTheme: $dark3,
    lightTheme: $light1,
  ),
  borderRadiusFirstRegistrForm: (
    darkTheme: $darkBorderRadius,
    lightTheme: $lightBorderRadius,
  ),
  titlesFirstRegistrForm: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  inputTextFirstRegistrForm: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  bgCalendar: (
    darkTheme: $dark3,
    lightTheme: $light1,
  ),
  textCalendar: (
    darkTheme: $light1,
    lightTheme: $dark1,
  ),
  textCalendarOutsideMonth: (
    darkTheme: $dark4,
    lightTheme: $light3,
  ),
  textCalendarDayHover: (
    darkTheme: $dark5,
    lightTheme: $light4,
  ),
  textConfirmReg: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  bgPhoneNumberCountryList: (
    darkTheme: $dark3,
    lightTheme: $light1,
  ),
  textPhoneNumberCountryList: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  textPhoneNumberCountryListHover: (
    darkTheme: $dark5,
    lightTheme: $light4,
  ),
  bgGenderSelectorRadio: (
    darkTheme: $dark1,
    lightTheme: $light1,
  ),
  textLogo: (
    darkTheme: $light2,
    lightTheme: $blue1,
  ),
  bgDropDownMainPage: (
    darkTheme: $dark3,
    lightTheme: $light1,
  ),
  textDropDownMainPage: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  bgTextHoverDropDownMainPage: (
    darkTheme: $dark5,
    lightTheme: $light4,
  ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop ==$mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.dark-mode {
  @include styles("darkTheme");
}

.light-mode {
  @include styles("lightTheme");
}
