@import "./colors";

$themes: (
  bgThemeColor1: (
    darkTheme: $darkMain,
    lightTheme: $lightMain,
  ),
  textThemeColor1: (
    darkTheme: $grey100,
    lightTheme: $black,
  ),
  bgThemeSideBarColor: (
    darkTheme: $darkSideBar,
    lightTheme: $lightSideBar,
  ),
  iconsThemeSideBarColor: (
    darkTheme: $lightMain,
    lightTheme: $darkMain,
  ),
  textThemeSideBarColor: (
    darkTheme: $lightMain,
    lightTheme: $darkMain,
  ),
  bgCardThemeColor: (
    darkTheme: $darkSideBar,
    lightTheme: $lightSideBar,
  ),
  titleCardThemeColor: (
    darkTheme: $lightCardText,
    lightTheme: $darkMain,
  ),
  categoryTextCardThemeColor: (
    darkTheme: $lightCardText,
    lightTheme: $bluePrimaryText,
  ),
  categorybgCardThemeColor: (
    darkTheme: $Surface5Dark,
    lightTheme: $Surface5Light,
  ),
  KebabCardThemeColor: (
    darkTheme: $lightMain,
    lightTheme: $darkMain,
  ),
  bgFirstRegistrForm: (
    darkTheme: $dark1,
    lightTheme: $light1,
  ),
  titlesFirstRegistrForm: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  inputTextFirstRegistrForm: (
    darkTheme: $light2,
    lightTheme: $dark1,
  ),
  bgCalendar: (
    darkTheme: $dark3,
    lightTheme: $light1,
  ),
  textCalendar: (
    darkTheme: $light1,
    lightTheme: $dark1,
  ),
  textCalendarOutsideMonth: (
    darkTheme: $dark4,
    lightTheme: $light3,
  ),
  textCalendarDayHover: (
    darkTheme: $dark5,
    lightTheme: $light4,
  )
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.dark-mode {
  @include styles("darkTheme");
}

.light-mode {
  @include styles("lightTheme");
}
