@import "../constants.scss";

.button__main, .button__page, .button__fs16, .button__fs16-white, .disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  border: none;
  background: $blueLightColor;
  font-family: $font;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
  &:hover {
    box-shadow: 0px 4px 6px rgba(46, 51, 99, 0.43);
  }
}

.button__fs16, .button__fs16-white {
  padding: 6px 32px;
  font-size: 16px;
}

.button__fs16-white {
  border: 1px solid $borderColor;
  color: $blueLightColor;
  background: $white;
  font-weight: 600;
}

.disabled {
  background: none;
  color: $greySearchColor;
  border: 1px solid $greySearchColor;
}

.btn__temporary {
  width: 300px;
}

.button-select {
  display: flex;
  align-items: center;
  border: 1px solid $blueLightColor;
  border-radius: 28px;
  font-family: $font;
  font-weight: 600;
  font-size: 16px;
  color: $blueLightColor;
  padding: 6px 36px;
  background: $white;

  &:disabled {
    background: $white;
    opacity: 0.5;
    border-radius: 28px;
    border: none;
    color: $greySearchColor;
  }
}

.button-login-category {
  padding: 6px 36px;
  font-family: $font;
  background: $blueLightColor;
  color: $white;
  border: none;
  border-radius: 28px;
  font-weight: 600;
  font-size: 16px;
  box-sizing: content-box;
}

.button__page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 36px;
  margin-bottom: 28px;
  border-radius: 28px;
  background: $blueLightColor;
  border: none;
  font-family: $font;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  color: $white;
  cursor: pointer;

  &:active {
    background: $blueDarkColor;
  }

  &:focus {
    background: $blueDarkColor;
  }
}

.button-login {
  width: 100%;
  font-size: 16px;
  font-family: $font;
  background: none;
  color: $blueLightColor;
  border: none;
  margin-left: 12px;
  padding: 6px 26px;

  &:focus {
    border: 1px solid $greyDefault;
    border-radius: 28px;
    color: $blueLightColor;
  }

  &:active {
    border: 1px solid $greyDefault;
    border-radius: 28px;
    color: $blueLightColor;
  }
}

.button-register {
  font-size: 16px;
  font-family: $font;
  background: $blueLightColor;
  color: $white;
  padding: 6px 36px;
  border: none;
  border-radius: 28px;
  margin-left: 4px;

  &:active {
    background: $blueDarkColor;
  }

  &:focus {
    background: $blueDarkColor;
  }
}

.button {
  margin-bottom: 28px;
  font-family:$font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: $blueLightColor;
  border: none;
  background: none;
  width: 95px;
  padding: 0;
  align-self: center;
  cursor: pointer;
}

.button-delete {
  color: $warningColor;
  border-color: $warningColor;
}

.icon-button {
  margin-right: 11px;
}

@media (max-width: $max-width-phone) {
  .button__page {
    font-size: 16px;
    margin-bottom: 14px;
  }
}