@import "../constants.module.scss";

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-bottom: 28px;
}

.unchecked {
  border: 2px solid $greySearchColor;
}

.checked {
  border: 2px solid $borderColor;
  background: $borderColor;

}

.unchecked, .checked {
  appearance: none;
  border-radius: 2px;
  height: 18px;
  width: 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.checked::before {
  content: "\2714";
  font-size: 1rem;
  color: $white;
  position: relative;
  right: 1px;
  top: -5px;
}

.label-checkbox {
  color: var(--titlesFirstRegistrForm) !important;
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  @include fieldsFont;
}

@media (max-width: $max-width-phone) {
  .checkbox {
    margin-bottom: 12px;
  }
  .label-checkbox{
    font-size: 12px;
  }

}