@import "../constants.scss";

.wrapper {
  & label {
    cursor: pointer;
    & div {
      display: flex;
      flex-direction: row;
    }
    & input {
      margin: $marginBottomMain;
      margin-right: 10px;
    }
    & p {
      margin: $marginBottomMain;
      text-align: left;
    }
    & p a {
      text-decoration: none;
      color: #455FCE;
    }
  }
}

@media (max-width: $max-width-2) {
  .wrapper label p,
  .wrapper label input {
    margin-bottom: 14px;
  }

  .wrapper label p {
    font-size: 12px;
  }
}

@media (max-width: $max-width-3) {
  .wrapper label p, .wrapper label input {
    margin-bottom: 14px;
  }
  .wrapper label p {
    font-size: 12px;
  }
}