@import "../constants.scss";

.email-wrapper {
  margin: 20px 0 0;
}

.email-label {
  display: block;
  @include fieldsFont;
  margin: 5px 0;
  font-weight: bold;
}

.email-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 2px solid $borderColor;
  border-radius: 0.2em;
  @include fieldsFont;

  &:focus {
    border: 2px solid $borderColor;
  }
}

.invalid-email-input {
  border: 2px solid $warningColor;
  color: $warningColor;
}

.error-message {
  color: $warningColor;
  display: block;
  margin-top: 0.5em;
  font-weight: normal;
}