@import "../constants.scss";

.email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.email-label {
  font-weight: bold;
  width: 100%;
  @include fieldsFont;
}

.email-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 2px solid $borderColor;
  @include fieldsFont;
  @include textFieldInput;

  &:focus {
    border: 2px solid $borderColor;
  }
}

.invalid-email-input {
  border: 2px solid $warningColor;
  color: $warningColor;
}

.error-message {
  color: $warningColor;
  display: block;
  margin-top: 0.5em;
  font-weight: normal;
}

@media (max-width: $max-width-2) {
  @media (max-height: $max-Height-2) {
    .email-wrapper {
      margin-bottom: 14px;
    }
    .email-input{
      font-size: 14px;
    }
  }
}

@media (max-width: $max-width-3) {
  .email-wrapper {
    margin-bottom: 14px;
  }
  .email-input {
    font-size: 14px;
  }
}