@import "../constants.scss";

.title__page {
  width: 100%;
  text-align: center;
  font-family: 'Apercu Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  margin: $marginBottomMain;
  padding-top: 60px; 
}

.title__confirm {
  font-size: 28px;
}

@media (max-width: $max-width-2) {
  .title__page {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 14px;
    padding-top: 0;
  }
}

@media (max-width: $max-width-3) {
  .title__page {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 14px;
  }
}