@import "../constants.scss";

.reg__wrapper {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.reg__inner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1322px;
  min-height: 843px;
  border-radius: 44px;
  box-shadow: var(--bgNavBarShadow);
  margin: 30px;
}

.close__wrapper {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 45px;
  top: 45px;
  cursor: pointer;
}

.close {
  position: relative;
  top: 9px;
  left: -9px;
  width: 16px;
  z-index: 3;
}

.close:before,
.close:after {
  position: absolute;
  width: 16px;
  border: 2px solid var(--KebabCardThemeColor);
  background: var(--KebabCardThemeColor);
  content: "";
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.reg__picture {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 44px 0 0 44px;
  background: url(../components/icons/background1440.svg) right;
  background-color: var(--bgFirstRegistrForm);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color  0.5s ease;
}

.reg__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 0 44px 44px 0;
  background-color: var(--bgFirstRegistrForm);
  transition: background-color  0.5s ease;
}

@media (min-width: $max-width-tablet) {
  .reg__logo {
    width: 32vw;
  }
}

@media (max-width: $max-width-tablet) {
  .reg__inner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 28px;
    width: 100%;
    max-width: 684px;
    min-height: 1082px;
    margin: 30px;
  }

  .reg__picture {
    border-radius: 28px 28px 0 0;
    width: 100%;
    height: 295px;
    background: url(../components/icons/background744.svg) no-repeat;
    margin-bottom: 24px;
    background-position-y: bottom;
    background-position-x: center;
  }

  .close__wrapper {
    right: 32px;
    top: 32px;
  }

  .reg__logo {
    width: 137px;
  }

  .reg__content {
    width: 100%;
    max-width: 448px;
  }
}

@media (max-width: $max-width-phone) {
  .reg__inner {
    min-height: 640px;
    border-radius: 0;
    margin: 0;
  }

  .reg__picture {
    border-radius: 0;
    height: 143px;
    background: url(../components/icons/background360.svg) no-repeat;
    margin-bottom: 7px;
    background-position-x: center;
  }

  .reg__logo {
    width: 73px;
  }

  .close__wrapper {
    right: 20px;
    top: 20px;
  }
}