@import "../constants.scss";

.reg__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.reg__inner {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1322px;
  max-height: 843px;
  border-radius: 44px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  margin: 0 20px;
}

.reg__picture {
  position: relative;
  width: 50%;
  border-radius: 44px 0 0 44px;
  overflow: hidden;
}

.reg__image1440 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.reg__image744, .reg__image360 {
  display: none;
}

.reg__svg-bacground1440 {
  margin-right: 22px;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.reg__svg-bacground744 {
  display: none;
}

.reg__svg-bacground360 {
  display: none;
}

.reg__svg-logo1440 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 320px;
  height: 410px;
}

.reg__svg-logo744 {
  display: none;
  position: absolute;
  left: 50%;
  top: 36px;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 137px;
  max-height: 182px;
}

.reg__svg-logo360 {
  display: none;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 73px;
  height: 96px;
}

.reg__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0 44px 44px 0;
  padding-top: 60px;
}

.reg__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 373px;
  height: 100%;
}

.reg__btn-close {
  position: absolute;
  right: 45px;
  top: 45px;
  z-index: 3;
  cursor: pointer;
}

.reg__svg-close {
  width: 13px;
  height: 13px;
}

@media (max-width: $max-width-1) {
  .reg__picture {
    min-width: 0;
  }

  .reg__svg-bacground1440 {
    margin-right: 0;
  }

  .reg__svg-logo1440 {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%);
    width: 260px;
    height: 350px;
    z-index: 2;
  }
}

@media (max-width: $max-width-2) {
  .reg__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 684px;
    max-height: 1082px;
    border-radius: 28px;
  }

  .reg__picture {
    width: 100%;
    height: 300px;
    min-width: 0;
    border-radius: 28px 0 0 28px;
  }

  .reg__image744 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 28px 28px 0 0;
  }

  .reg__image1440,
  .reg__image360 {
    display: none;
  }

  .reg__svg-bacground1440,
  .reg__svg-bacground360 {
    display: none;
  }

  .reg__svg-bacground744 {
    display: flex;
    width: 110%;
    height: 110%;
    object-fit: cover;
  }

  .reg__svg-logo1440,
  .reg__svg-logo360 {
    display: none;
  }

  .reg__svg-logo744 {
    display: flex;
  }

  .reg__content {
    width: 100%;
    height: calc(100% - 300px);
    border-radius: 0 28px 28px 0;
    padding-top: 0;
  }

  .reg__content-inner {
    max-width: 448px;
  }

  .reg__btn-close {
    right: 32px;
    top: 32px;
  }
}

@media (max-width: $max-width-3) {
  .reg__inner {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 640px;
    border-radius: 0;
  }

  .reg__picture {
    height: 143px;
    border-radius: 0;
  }

  .reg__image360 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .reg__image1440,
  .reg__image744 {
    display: none;
  }

  .reg__svg-bacground1440, 
  .reg__svg-bacground744 {
    display: none;
  }

  .reg__svg-bacground360 {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .reg__svg-logo1440, 
  .reg__svg-logo744 {
    display: none;
  }

  .reg__svg-logo360 {
    display: flex;
  }

  .reg__content {
    height: calc(100% - 143px);
    border-radius: 0;
  }

  .reg__content-inner {
    max-width: 296px;
  }

  .reg__btn-close {
    right: 20px;
    top: 20px;
  }
}