@import "../constants.scss";

.magmagnifying_glas {
  position: absolute;
  left: 16px;
  top: 32px;
  z-index: 5;
}

.react-tel-input {
  @include fieldsFont;
}

.react-tel-input > .form-control {
  padding: 1px 46px 1px 84px;
  width: 100%;
  border-color: $blueLightColor;
  color:$black;
  background: none;
}

.react-tel-input .flag-dropdown {
  padding-left:45px;
  left:1px;
  background-color: $white;
  border: none;
  height: 90%;
  top: 2px;
}

.react-tel-input .flag-dropdown.open{
  z-index: 0;
  width: 99%;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: $white;
  border-radius: 0;
  }

.react-tel-input .country-list {
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 1px;
  width: 100%;
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
  background-color: $white;
  border-radius: 0;
}

.arrow {
  visibility: hidden;
}

.symbol {
  width: 24px;
  height: 24px;
  color: $blueLightColor;
  transform: rotate(90deg);
  position: absolute;
  top: 30px;
  right: 8px;
  cursor: pointer;
  z-index: 2;
}