@import "../constants.module.scss";

.react-tel-input {
  @include fieldsFont;
}

.react-tel-input > .form-control {
  width: 100%;
  border-color: $blueLightColor;
  color: var(--textThemeColor1) !important;
  background: none;
}

.react-tel-input .flag-dropdown {
  left: 1px;
  background: var(--bgPhoneNumberCountryList);
  border: none;
  height: 90%;
  top: 2px;
}

.react-tel-input .flag-dropdown.open {
  z-index: 0;
  width: 99%;
  background-color: var(--bgPhoneNumberCountryList);
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: var(--bgPhoneNumberCountryList);
  border-radius: 0;
}

.selected-flag open {
  background-color: var(--bgPhoneNumberCountryList);
}

.react-tel-input .country-list .search {
  background: var(--bgPhoneNumberCountryList);
}

.react-tel-input .selected-flag .arrow {
  border-top: 4px solid var(--textThemeColor1);
}

.react-tel-input .selected-flag .arrow.up {
  border-bottom: 4px solid var(--textThemeColor1);
}

.react-tel-input .country-list .search-box {
  background: var(--bgPhoneNumberCountryList);
  border-color: $blueLightColor;
  color: var(--textThemeColor1);
}

.search-box::placeholder {
  color: var(--textThemeColor1);
}

.react-tel-input .country-list {
  background: var(--bgPhoneNumberCountryList);
  color: var(--textPhoneNumberCountryList);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 1px;
  width: 100%;

  .country.highlight {
    background: none;
  }

  .dial-code {
    width: 100%;
    color: var(--textPhoneNumberCountryList) !important;
  }

  .country {
    width: 100%;
    text-align: left;

    &:hover {
      background: var(--KebabCardThemeColor);
    }
  }
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
  border-radius: 0;
  background-color: var(--bgPhoneNumberCountryList);
}

