@import "../constants.scss";

.thumbnail__wrapper {
  width: 100%;
  min-height: 60px;
}

.thumbnail__withpicture {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.thumbnail__upload {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.thumbnail__left {
  width: 65%;
  height: 100%;
  margin-right: 12px;
}

.thumbnail__left-inner {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.thumbnail__right {
  width: calc(100% - 65% - 12px);
  height: 100%;
}

.thumbnail__right-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.thumbnail__picture {
  width: 100%;
  width: 80px;
  height: 100%;
  height: 60px;
  margin-right: 12px;
  border-radius: 8px;
  background: url(./icons/thumbnail.svg) center no-repeat;
  background-size: 100%;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail__item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 94px);
  height: 100%;
}

.thumbnail__item-name,
.thumbnail__item-size {
  width: 100%;
  margin: 0 0 5px 0;
}

.thumbnail__item-name {
  font-family: $font;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: var(--iconsTextEditVideoLessonColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail__item-size {
  font-family: $font;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  color: #D1D1D1;
}

.svg__change {
  width: 16px;
  height: 20px;
  margin-right: 3px;
  fill: var(--iconsTextButtonColor);
}

.svg__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  fill: #F6F5F6;
}

.button__notsee {
  display: none;
}

.thumbnail__error {
  display: block;
  color: $warningColor;
  font-weight: normal;
  font-size: 12px;
  margin-top: 5px;
}