@import "../constants.scss";

.thumbnail__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.thumbnail__left {
  width: 60%;
}

.thumbnail__left-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.thumbnail__right {
  width: 40%;
}

.thumbnail__right-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.thumbnail__picture {
  width: 100%;
  width: 80px;
  height: 100%;
  height: 60px;
  margin-right: 8px;
  border-radius: 8px;
  border: 1px dashed $greySearchColor;
  background: url(./icons/thumbnail.svg) center no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail__item-info {
  width: calc(100% - 80px);
}

.thumbnail__item-name, .thumbnail__item-size {
  margin: 0 0 10px 0;
}

.svg__change{
  width: 20px;
  height: 20px;
  background-size: 15px 17px;
  margin-right: 6px;
}

.svg__change {
  background: url(./icons/changeFile.svg) no-repeat center;
}

.button__notsee {
  opacity: 0;
  position: absolute;
  z-index: -1;
}