@import "../constants.module.scss";

.user_wrapper {
    width: 320px;
    height: 240px;
    font-family: $font;
    color: #171B2C;
    font-weight: normal;
}

.user_card {
    position: relative;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.bg__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $borderColor; 
}

.category__image {
    width: 320px;
    height: 240px;
}

.category__image-transparent {
    opacity: 0.15;
}

.user_card-title {
    height: 78px;
    width: 288px;
    line-height: 78px;
    position: absolute;
    top: 24px;
    left:16px;
    overflow: hidden;
    font-size: 56px;
    font-weight: bold;
    text-align: left;
}

.user_card-title--hovered {
    color: $white;
}

.category__info {
    position: absolute;
    width: 288px;
    height: 102px;
    bottom: 18px;
    left: 16px;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.user_card__icon-bg--hovered {
    position: absolute;
    background: $borderColor;
    isolation: isolate;
}
