@import "../constants.scss";

.user_wrapper {
    width: 320px;
    height: 240px;
    font-family: $font;
    color: #171B2C;
    font-weight: normal;
}

.user_card{
    position: relative;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.bg__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $borderColor; 
}

.category__image-transparent {
    opacity: 0.15;
}

.user_card-title {
    height: 78px;
    width: 288px;
    line-height: 78px;
    position: absolute;
    top: 24px;
    left:16px;
    overflow: hidden;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}

.user_card-title--hovered {
    color: #FFFFFF;
}

.category__info {
    position: absolute;
    width: 288px;
    height: 102px;
    bottom: 18px;
    left: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.user_card-blue {
    background: #DDE9FF;
    img {
        position: absolute;
        width: 355px;
        height: 287px;
        left: 25px;
        top: 16px;
    }
}

.user_card-pink {
    background: #FFDAD6;
    img {
        position: absolute;
        width: 318.74px;
        height: 235px;
        left: 23px;
        top: 32px;
    }
}

.user_card-grey {
    background: #EAF8DE;
    img {
        position: absolute;
        width: 267px;
        height: 208.51px;
        left: 48px;
        top: 48px;
    }
}

.user_card-orange {
    background: #FFDF92;
    img {
        position: absolute;
        width: 242px;
        height: 191px;
        left: 39px;
        top: 100px;
    }
}

.user_card__icon-bg--hovered {
    position: absolute;
    background: $borderColor;
    isolation: isolate;
}
