.star-rating {
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    // margin: 0px 8px;
  }

  .on svg {
    fill: #ffc01e;
  }
  .off svg {
    color: #fcfcfc;
    stroke: #9a9aa3;
  }
  img {
    margin-right: 8px;
  }
}
