@import "../../../../constants.scss";

.categories {
  margin: 16px 24px;
  font-family: $font;
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 16px;
}

.category-title {
  font-family: $font;
  line-height: 130%;
  margin: 0;
}

.tab {
  display: flex;
  flex-direction: column;
}

.row-category {
  font-family: $font;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr repeat(3, 1fr);
  margin-bottom: 14px;
  column-gap: 16px;
  padding: 16px 0;
  align-items: center;
  height: 122px;
}

.column-name {
  color: $black;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.tab-category {
  box-shadow: 0 0 4px $greySearchColor;
  background-color: $white;
  border: 0;

  &:focus {
    box-shadow: 0 0 20px $greySearchColor;
  }
}

.category-text {
  color: $black;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.category-date {
  color: $black;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.category-description {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-edit {
  margin-right: 23px;
}

.categories-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  text-align: -webkit-center;
}

.category-user {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 8px;
}

.background-category {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.inform-user {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 8px;
  color: $blueDarkColor;
  visibility: hidden;
  overflow: hidden;
  @media (min-width: 745px) {
    &:hover {
      color: $white;
      background: $blueLightColor;
      opacity: 0.9;
      visibility: visible;
    }
  }

}

.inform-for-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: visible;
}

.category-user-name {
  font-family: $font;
  color: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  margin: 16px 16px 8px;
  text-align: justify;
  visibility: visible;
}

.description-user {
  margin: 0 16px;
  font-family: $font;
  color: $white;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  visibility: inherit;
}

@media (max-width: 744px) {
  .categories-user {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .category-user-name {
    font-size: 45px;
    line-height: 130%;
    margin-top: 98px;
    margin-bottom: 12px;
  }

  .description-user {
    color: #45464F;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    visibility: visible;
    -webkit-line-clamp: 3;
  }
}

@media (max-width: 360px) {
  .categories-user {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}