.wrapper__categories {
    height: 100%;
    margin: auto;
}

.categories__block {
  margin-top: 30px;
  margin-left: 32px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
 