@import "../../constants.module.scss";

.video__page_wrapper {
  margin-left: 66px;
  display: flex;
  padding: 0 24px;
  margin-top: 20px;
}

.video__side_bar {
  width: 437px;
  height: 100vh;
  margin-left: 16px;
}

.videoplayer__wrapper {
  --plyr-captions-background: rgba(0, 0, 0, 0.8);
  --plyr-captions-text-color: white;
  width: calc(100% - 437px);
}

.videoplayer__wrapper__info {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.videoplayer__label-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.videoplayer__wrapper__label {
  padding: 4px 8px;
}

.videoplayer__wrapper__published {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  font-feature-settings: "liga" off;
  margin-bottom: 12px;

  p {
    margin: 0;
  }

  span {
    font-family: $font;
    font-size: 16px;
    color: var(--textVideoViewPage);
    &:first-child {
      margin-right: 3px;
    }
  }
}

.videoplayer__wrapper__description {
  align-self: flex-start;
  width: 100%;
  word-wrap: break-word;
  text-align: left;
  margin-bottom: 20px;

  p {
    margin: 0;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: "liga" off;
    color: var(--textVideoViewPage);
  }
}

.videoplayer__wrapper__info_bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.videoplayer__wrapper__info_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #9a9aa3;
  margin-bottom: 16px;
}

.info__top_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
  margin-right: 16px;
}

.info__top_left {
  display: flex;
  width: 80%;
  margin-bottom: 16px;
}

.info__top_left-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info__top_left-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
  margin-left: 25px;
  align-items: flex-start;

  .info__top_left-title {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 7px;
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    align-items: center;
    font-feature-settings: "liga" off;
    color: var(--textVideoViewPage);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  .info__top_left-authorname {
    margin: 0;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    font-feature-settings: "liga" off;
    color: #9a9aa3;
  }
}

.published__views_wrapper {
  display: flex;

  .videoplayer__wrapper__views {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-left: 20px;
    color: var(--textVideoViewPage);
    p {
      margin: 0;
    }
  }
}
