@import "../../constants.module.scss";

.video__page_wrapper {
  margin-left: 66px;
  display: flex;
  padding: 0 24px;
}

.video__side_bar {
  width: 437px;
  height: 100vh;
  margin-left: 16px;
}

.videoplayer__wrapper {
  --plyr-captions-background: rgba(0, 0, 0, 0.8);
  --plyr-captions-text-color: white;
  flex: 1 1 auto;
}

.videoplayer__wrapper__info {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
}

.videoplayer__wrapper__label {
  width: 59px;
  height: 29px;
  line-height: 29px;
  padding: 0;
  margin-bottom: 16px;
}

.videoplayer__wrapper__published {
  width: 158px;
  height: 24px;
  margin-bottom: 16px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  font-feature-settings: "liga" off;

  p {
    margin: 0;
  }

  span {
    font-family: $font;
    font-size: 16px;
  }
}

.videoplayer__wrapper__description {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #9a9aa3;
  text-align: justify;
}

.videoplayer__wrapper__info_bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 0 100px 0;
}

.videoplayer__wrapper__info_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 0 24px 0;

  .info__top_right {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }

  .info__top_left {
    display: flex;

    img {
      width: 50px;
      height: 50px;
    }

    .info__top_left_text {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      align-items: flex-start;

      h2 {
        margin: 0;
        margin-bottom: 7px;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        align-items: center;
        font-feature-settings: "liga" off;
        color: var(--VideoTitle);
      }

      span {
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        align-items: center;
        font-feature-settings: "liga" off;
        color: #9a9aa3;
      }
    }
  }
}

.published__views_wrapper {
  display: flex;

  .videoplayer__wrapper__views {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-left: 20px;
  }
}
