@import "../../../../constants.scss";
.VideoCardTitle {
  margin-left: 0px;
}
.preview__img {
  width: 208px;
  height: 132px;
  img {
    border-radius: 8px 0px 0px 8px;
  }
}
.info {
  width: 229px;
  height: 132px;
}
.details__date {
  width: 136px;
  height: 17px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.4px;
  color: #9a9aa3;
  margin-left: 0px;
  white-space: nowrap;
  p {
    span {
      margin-left: 3px;
    }
  }
}
.video__title {
  width: 168px;
  height: 41px;
  text-align: left;
  margin-top: -14px;
  margin-left: 0px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #1b1b1f;
  a {
    text-decoration: none;
    color: var(--titleCardThemeColor);
    transition: color 0.5s ease;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    a:visited {
      color: #1b1b1f;
    }
  }
}
.popup {
  position: relative;
  user-select: none;
}
.info__title {
  display: flex;
}
.kebab__menu {
  position: static;
  margin-left: auto;
}
.video__title {
  width: auto;
  height: auto;
  text-align: left;
  margin-left: 0;
  margin-top: 8px;
}
