@import "../../../../constants.scss";
.VideoCardTitle {
  width: 164px;
  height: auto;
  text-align: left;
}
.preview__img {
  width: 208px;
  height: 132px;
  img {
    border-radius: 8px 0px 0px 8px;
    width: 208px;
  }
}
.info {
  width: 229px;
  height: 132px;
  margin-left: 14px;
}
.VideoCardPublished {
  width: 136px;
  height: 17px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.4px;
  color: #9a9aa3;
  margin-left: 0px;
  white-space: nowrap;
  p {
    span {
      margin-left: 3px;
    }
  }
}

.info__title {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}
.VideoCardKebab {
  position: static;
  margin-left: 0;
  width: auto;
  margin-right: 24px;
}
