$borderColor: #455FCE;
$warningColor: #FF0000;
$font: 'ApercuPro', sans-serif;
$formWidth: 100%;
$max-width-tablet: 744px;
$max-width-phone: 360px;
$white: #FFFFFF;
$black: #1B1B1F;
$green: #7AC500;
$blueDarkColor: #0F1C2A;
$blueLightColor: #455FCE;
$greySearchColor: #9A9AA3;

@mixin fieldsFont {
  & {
    font-family: $font;
    color: $black;
  }

  @media (max-width: $max-width-tablet) {
    & {
      font-size: 16px;
      line-height: 18px;
    }
  }

  @media (max-width: $max-width-phone) {
    & {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@mixin textFieldInput {

  &:focus {

  }
}